html,body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.wrapper{
    width: 600px;
    margin: 0 auto;
}

.st0{
    fill:black ;
    font-size: 5px;
}

.st8{
   cursor: pointer;
}

.st10{
    font-size: 7px;
}

.color-palate{
    width:340px;
    margin: 10px auto;
    height: 40px;   
}

text{
    cursor: pointer;
}

.color-box{
    width: 80px;
    height: 30px;
    color: black;
    display: inline-block;
    text-align: center;
    padding: 2px 0px;
    font-weight: 600;
}

#red{background-color:#FF4C4C;}
#green{background-color:#66B266;}
#blue{background-color:#6666C7;}
#yellow{background-color:#FFFF99;}

.reload-button{
    position: absolute;
    bottom: 10%;
    background:#66B266;
    font-size: 25px;
    left: 50px;
    border: 2px solid #66B266;
    border-radius: 5px;
    padding: 5px 12px;
    margin: 0;
    color: white;
    outline: none;
    transition: 0.3s ease all;
}

.reload-button:hover{
    background: white;
    color: #66B266;
}

.reload-icon{
    transition: 0.3s ease all;
    transform: rotate(0deg);
}

.rotate{
    transition: 0.3s ease all;
    transform: rotate(360deg);
}   

